*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Arial', sans-serif;
    line-height:1.6;
    background-color:#f4f4f4;
    color: #333;
}

.wrapper{
    min-height:  100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

header .logo a{
    color: #ffffff;
}

a{
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3 ease;
}

header nav ul li a:hover{
    border-radius: 5px;
    text-decoration: underline #555;
    color: white;
}

main {
    display: flex;
    margin: 10px 10px 0;
    gap:20px;
    flex:1;
}

.content {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    border-radius: 8px;
}

.sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    border-radius: 8px;
}

h1,h2 {
    margin-bottom: 20px;
}

p{
    margin-bottom: 15px;
}

footer{
    background-color: #333;
    color:  #fff;
    padding:  20px 0;
    margin-top: 20px;
}

footer div{
    display: flex;
}

footer div .logo{
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

footer div .logo a{
    color: #ffffff;
}

footer div .logo a:hover{
    color: #FFF4A3!important;
}

footer div .menu_footer{
    width: 60%;

}

footer div div ul li{
    list-style-type: none;
}

footer div div ul li a{
    color: #ffffff;
}

footer div .footer_some{
    width: 20%;

}
footer div .footer_some ul{
    display: flex;   
     gap:10px
}

footer p{
    margin-left: 10px;
}

@media (max-width: 768px) {
    header nav ul {
        align-items: flex-start;
        padding-left: 20px;
    }

    .content {
        width: 70%;
    }

    .sidebar {
        width: 30%;
    }

    footer div .logo, 
    footer div .menu_footer, 
    footer div .footer_some {
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header .logo {
        padding-left: 30px;
    }

    header nav ul li{
        width: 100%;
        padding: 0;
    }
}
